HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
# 上面感叹号!的作用是 不忽略 后面的内容。但是文件或是目录的上级目录，这个模式就不起作用。
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.gitignore
/src/main/java/com/gzasc/onlinecarhailing/pojo/Account.java
/src/main/java/com/gzasc/onlinecarhailing/pojo/Address.java
/src/main/java/com/gzasc/onlinecarhailing/controller/AddressController.java
/src/main/java/com/gzasc/onlinecarhailing/service/AddressService.java
/src/main/java/com/gzasc/onlinecarhailing/service/impl/AddressServiceImpl.java
/src/main/resources/application.yml
/src/main/java/com/gzasc/onlinecarhailing/pojo/Chaters.java
/src/main/java/com/gzasc/onlinecarhailing/pojo/ChatRoom.java
/src/main/java/com/gzasc/onlinecarhailing/controller/ChatRoomController.java
/src/main/java/com/gzasc/onlinecarhailing/Mapper/ChatRoomMapper.java
/src/main/resources/com/gzasc/onlinecarhailing/Mapper/ChatRoomMapper.xml
/src/main/java/com/gzasc/onlinecarhailing/service/ChatRoomService.java
/src/main/java/com/gzasc/onlinecarhailing/service/impl/ChatRoomServiceImpl.java
/src/main/java/com/gzasc/onlinecarhailing/pojo/Driver.java
/src/main/java/com/gzasc/onlinecarhailing/pojo/DriverLicense.java
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties
/src/main/java/com/gzasc/onlinecarhailing/pojo/Message.java
/src/main/java/com/gzasc/onlinecarhailing/Mapper/MessageMapper.java
/src/main/resources/com/gzasc/onlinecarhailing/Mapper/MessageMapper.xml
/src/main/java/com/gzasc/onlinecarhailing/service/MessageService.java
/src/main/java/com/gzasc/onlinecarhailing/service/impl/MessageServiceImpl.java
/mvnw
/mvnw.cmd
/src/main/java/com/gzasc/onlinecarhailing/pojo/NetworkDriverLicense.java
/src/main/java/com/gzasc/onlinecarhailing/OnlineCarHailingApplication.java
/src/test/java/com/gzasc/onlinecarhailing/OnlineCarHailingApplicationTests.java
/src/main/java/com/gzasc/onlinecarhailing/pojo/Order.java
/src/main/java/com/gzasc/onlinecarhailing/controller/OrderController.java
/src/main/java/com/gzasc/onlinecarhailing/pojo/Passenger.java
/pom.xml
/src/main/java/com/gzasc/onlinecarhailing/pojo/Result.java
/src/main/java/com/gzasc/onlinecarhailing/pojo/Ticket.java
/src/main/java/com/gzasc/onlinecarhailing/Mapper/TicketMapper.java
/src/main/resources/com/gzasc/onlinecarhailing/Mapper/TicketMapper.xml
/src/main/java/com/gzasc/onlinecarhailing/pojo/User.java
/src/main/java/com/gzasc/onlinecarhailing/interceptor/UserCheckInterceptor.java
/src/main/java/com/gzasc/onlinecarhailing/controller/UserController.java
/src/main/java/com/gzasc/onlinecarhailing/Mapper/UserMapper.java
/src/main/resources/com/gzasc/onlinecarhailing/Mapper/UserMapper.xml
/src/main/java/com/gzasc/onlinecarhailing/service/UserService.java
/src/main/java/com/gzasc/onlinecarhailing/service/impl/UserServiceImpl.java
/src/main/java/com/gzasc/onlinecarhailing/config/WebConfig.java
