<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzasc.onlinecarhailing.Mapper.AccountMapper">


    <insert id="insertAccount" keyProperty="id" useGeneratedKeys="true">
        insert into account(account, password, driver_id, passenger_id, manager_id)
        values (#{account}, #{password}, #{driverId}, #{passengerId}, #{managerId})
    </insert>

    <update id="updateAccount" useGeneratedKeys="true" keyProperty="id">
        update account
        <set>
            <if test="driverId != null">
                driver_id = #{driverId},
            </if>
            <if test="passengerId != null">
                passenger_id = #{passengerId},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteAccount">
        delete
        from account
        where id = #{id}
    </delete>
    <delete id="deleteAccountsById">

        delete from account where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>

    </delete>
    <select id="selectByAccount" resultType="com.gzasc.onlinecarhailing.pojo.Account">
        select *
        from account
        where account = #{account}
    </select>
    <select id="selectAll" resultType="com.gzasc.onlinecarhailing.pojo.Account">
        select *
        from account
    </select>
    <select id="selectById" resultType="com.gzasc.onlinecarhailing.pojo.Account">
        select * from account where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
                              #{id}
        </foreach>
    </select>
</mapper>