<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzasc.onlinecarhailing.Mapper.TicketMapper">
<!--增加-->
    <insert id="insertTicket" >
        insert into ticket(max_passenger_count,
                           departure_address_id,
                           destination_address_id,
                           start_time,
                           price,
                           status)
        values
            (#{passengerCount},
            #{departureAddress},
            #{destinationAddress},
            #{startTime},
            #{price},
             #{status}
            )
    </insert>
<!--    修改-->
    <update id="updateTicket">

    </update>
<!--    删除-->
    <delete id="deleteTicket">

    </delete>
<!--    查询一条-->
    <select id="selectTicketById">

    </select>
</mapper>