<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzasc.onlinecarhailing.Mapper.UserMapper">
<!--注册-->
    <insert id="insertUser">
        insert into user(account, password) values (#{account}, #{password}n)
    </insert>
<!--    改密码-->
    <update id="alterUserPassword">

    </update>
<!--    删除用户-->
    <delete id="deleteUser">

    </delete>

<!--查询所有用户-->
    <select id="selectAllUser" resultType="com.gzasc.onlinecarhailing.pojo.User">

    </select>
<!--    判断用户要注册的帐号是否存在-->
    <select id="isUserExit" resultType="com.gzasc.onlinecarhailing.pojo.User">

    </select>
</mapper>